/* COLORES */
/* Header */
$coloruno: white;

$colordos: #c7c7c7;

$backgroundheader: black;

$botonesHeader: #1f1f1f;

/* Directorio Anime */
$tirulodirectorio: rgb(49, 0, 49);

/* En emision */
$tiruloenmision: #37474f;

/* FONT SIZE */
/* Header */
$botones: 1.7vw;
$tituloheader: 6vw;

/* Directorio anime */
$tituloprincipal:4vw;
$titulosdeanimes: 1.3vw;
$titulosdeanimestable: 4vw;


/* PADDING */

/* Directorio anime */
$padinganimes: 0.2vw 0.2vw 0px 0.2vw;