@import './variables';
    


*{

    padding: 0%;
    margin: 0%;

}

@font-face {
    font-family: AnimeJAV;
    src: url("Tipografia/PermanentMarker-Regular.ttf");
}
/*
@keyframes botones{

    1%{
        border-top: 5px solid #3a3a3a;
    }
    2%{
        border-top: 5px solid #c7c7c7;
    }

    24%{
        border-right: 5px solid #1f1f1f;
    }
    25%{
        border-right: 5px solid #c7c7c7;
    }

    48%{
        border-bottom: 5px solid #1f1f1f;
    }
    49%{
        border-bottom: 5px solid #1f1f1f;
    }
    50%{
        border-bottom: 5px solid #c7c7c7;
    }

    75%{
        border-left: 5px solid #1f1f1f;
    }
    99%{
        border-left: 5px solid #c7c7c7;
    }
    100%{
        border-left: 5px solid #1f1f1f;
    }

}
*/

/* Universal */
a{

    text-decoration: none;

}

ul, li{

    list-style: none;

}
/* Universal */

/* Movil */
@media only screen and ( max-width: 600px){

/* Extend */
.titulosmovil{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    text-align: center;
    -ms-transform-origin-x: 50%;
    -ms-transform-origin-y: 50%;
    background-color: #37474f;
    font-size: 5vw;

}

.centratebienmovil{

    display: flex;
    justify-content: center;
    align-items: center;

}

.centratebientextomovil{

    text-align: center;
    -ms-transform-origin-x: 50%;
    -ms-transform-origin-y: 50%;  

}
/* Extend */

/* Header */
.ordenadorytable{
    display: none;
}

.divlogo{
    display: none;
}

header{
    height: 19.8vw;
    background-color: #000;
}

#navmovil{
    padding: 0px;
}

#headerfondo{
    background-color: #000;
}



.navbar-brand{

    font-family: AnimeJAV;
    font-size: 10vw;
    color: white;

}

#Titulo{
    color: white;
}

.navbar-toggler{

    background-color:grey;

}
/* Header */

/* main */
/* Index */
.indexsection{

    @extend .centratebienmovil;
    flex-direction: column;
    width: 100%;
    padding-top: 20px;
    background-color: lightgrey;

}

.h3mainindex h3{

    @extend .titulosmovil;

}

.slide{

    padding: 1vh 1vw 1vh 1vw;
    background-color: white;
    margin-top: 3px;
    margin-bottom: 45px;

    & img{
        height: 52vw;
    }

}

h5{
        
    color: black;
    background-color: rgb(255, 255, 255);

    &:hover{
        
        font-size: 2rem;
    }

}

.generosbootstrap{

    color: black;
    font-size: 3vw;
    background-color: rgb(255, 255, 255);

    &:hover{
        
        font-size: 1.5rem;    
    }

}
/* Index */

/* Directorio Anime */
.selectionmaindirec{

    background-color: $colordos;
    padding-bottom: 3vw;

}

.h3divdirec{

    @extend .centratebienmovil;
    
    & .h3direc{

        @extend .titulosmovil;
        font-size: 5.5vw;
        width: 86.2vw;
        margin: 20px;
        color: $coloruno;
        background-color: #37474f;
    }

}

.ulselectionmaindirec{

    padding: 0%;
    display: grid;
    height: auto;
    grid-template-columns: 40vw 40vw;
    grid-template-rows: 65vw 65vw 65vw 65vw 65vw 65vw 65vw;
    justify-content: center;
    justify-content: space-evenly;
    
    & .liselectionmaindirec{
        padding: $padinganimes;
        height: 62vw;
        background-color: $coloruno;

        & figure:hover{  
            animation: pulse;
            animation-duration: 2s;
        }

        & img{

            @extend .centratebienmovil;
            width: 99%;
            height: 55vw;
        
        }

        & figcaption{
            font-size: $titulosdeanimestable;
            @extend .centratebientextomovil;
        }

    }

}
/* Directorio Anime */

/* En emision */
.emisionsection{

    @extend .centratebienmovil;
    flex-direction: column;
    width: 100%;
    padding-top: 20px;
    background-color: lightgrey;

}

.h3divemision h3{

    @extend .titulosmovil;
    width: 100%;
    margin-bottom: 20px;
    background-color: $tiruloenmision;
    background-color: #37474f;

}

.card-img{

    height: 40vw;

}

.sinopsisdiv{

    margin-top: 10px;
    margin-bottom: 10px;
    
}

.card-title{

    color: #000;
    background-color: rgb(255, 255, 255);
    max-width: fit-content;
    font-size: 2vw;

    &:hover{
        font-size: 3vw;
    }
    
}

.card-text{
    color: #000;
    background-color: rgb(255, 255, 255);
    max-width: fit-content;

    &:hover{
        font-size: 2rem;
    }

}

.iframedivemision{

    margin-bottom: 45px;

    & .iframeemision{
        height: 40vw;
        width: 100%;
    }

}
/* En emision */

/* Q y A */    
.h2qya{
    
    @extend .titulosmovil;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    background-color: rgb(1, 1, 158);
    
}

.textoyimagendivqya{

    @extend .centratebienmovil;

    & img{
        max-height: 30vw;
        max-width: 32vw;
    }
    & p{
        @extend .centratebienmovil;
        @extend .centratebientextomovil;
        flex-direction: column;
        height: auto;
        width: 33vw;
        font-size: 2.5vw;
    }

}

.sugeescribirqya{

    @extend .centratebienmovil;
    flex-direction: column;

    & textarea{
        width: 63vw;
        height: 26vw;    
    }

}

.sugeinputqya{

    font-size: 23px;
    text-decoration: none;
    padding: 5px;
    margin-top: 3px;
    color: black;
    background-color: white;
    color: white transparent;
    border: 5px solid transparent;

    &:hover{
        color: rgb(255, 255, 255);
        background: #1f1f1f;
        animation-name: botones;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        background: #1f1f1f;
    }

}
/* Q Y A */

/* Registratre */
.mainregistrate{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vw;

}

.formulario{

    @extend .centratebienmovil;
    height: 100%;
    width: 100%;

}

.formulariodiv{

    @extend .centratebienmovil;
    align-items: flex-start;
    flex-direction: column;
    height: auto;
    width: 59vw;
    padding: 4vw 3vw 2vw 3vw;
    background-color: black;
    border-radius: 4px;
    box-shadow: 7px 13px 37px #000;

}

.formulariodiv h3{

    color: white;
    margin-left: 0px;
    font-size: 4vw;

}

.control{

    display: flex;
    justify-content: center;
    font-size: 3vw;
    height: 2vw;
    padding: 2vw;
    margin-bottom: 3vw;
    width: 100%;

}

form{

    @extend .centratebienmovil;
    flex-direction: column;
    height: auto;
    margin: 2vw 3vw 2vw 3vw;
    max-width: 100vw;

    & p{
        @extend .centratebienmovil;
        @extend .centratebientextomovil;
        flex-direction: column;
        color: white;
        font-size: 2.5vw;
        margin: 3vw;    }
    & a{
        color: white;
        font-size: 2.5vw;

        &:hover{
            color: white;
            text-decoration: underline;
        }
    
    }

}

.control{

    @extend .centratebienmovil;
    align-items: flex-start;
    padding: 2vw;
    margin-bottom: 2vw;
    width: 100%;

}

.boton{

    @extend .centratebienmovil;
    align-items: flex-start;
    padding: 1.3vw;
    margin-top: 1vw;
    margin-bottom: 2vw;
    width: 70%;
    font-size: 3vw;
    color: black;
    background-color: white;
    color: white transparent;
    border: 5px solid transparent;

    &:hover{
        color: rgb(255, 255, 255);
        background: #1f1f1f;
    }

}
/* Registratre */
/* MAIN */

/* Footer */
footer{

    @extend .centratebienmovil;
    flex-direction: column;
    height: 37vw;
    width: 100%;
    background-color: rgb(27, 26, 26);
    color: white;
    font-size: 4vw;
    font-family: Formularrio de registro;

    & .divley{
        @extend .centratebienmovil;
        @extend .centratebientextomovil;
        height: auto;
        width: 100%;
    }
    & .divcorreo{
        @extend .centratebienmovil;
        @extend .centratebientextomovil;
        height: 100%;
        width: 100%;
    }    
    & a{

        color: white;
        text-decoration: none;
        font-family: Formularrio de registro;
        font-size: 4vw;

        &:hover{
            color: white;
            text-decoration: underline;
        }
    
    }

}
/* Footer */

}

/* Table */
@media only screen and ( min-width: 600px){
/* Extend */
.titulostable{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    text-align: center;
    -ms-transform-origin-x: 50%;
    -ms-transform-origin-y: 50%;
    background-color: #37474f;
    font-size: 3vw;

}

.centratebientable{

    display: flex;
    justify-content: center;
    align-items: center;

}

.centratebientextotable{

    text-align: center;
    -ms-transform-origin-x: 50%;
    -ms-transform-origin-y: 50%;  

}
/* Extend */

/* HEADER */
.movil{
    display: none;
}

header{

    display: grid;
    height: auto;
    padding-bottom: 1px;
    width: 100%;
    background-color: $backgroundheader;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 5vw;
    grid-template-areas: "logo logo"
                         "nav nav";              
   
}

nav{

   display: flex;
   justify-content: center;
   align-items: flex-end;
   grid-area: nav;

}

.ilmenu{

   font-size: $botones;
   text-decoration: none;
   padding: 0.3vw;
   color: $colordos;
   border: 2px solid transparent;

   
   &:hover{

    border-color: #c7c7c7;
    color: white;
 
  }

}

.limenuinput input{

   border-radius: 20px;
   height: 2rem;
   width: 15vw;

}

.divlogo{

   display: flex;
   justify-content: center;
   align-items: center;
   grid-area: logo;

   
   &:hover{
    animation: pulse;
    animation-duration: 2s; 
   }

   
   & h1 a{
    font-family: AnimeJAV;
    color: $coloruno;
    font-size: $tituloheader;
   }

   
   & img{
    height: 8vw;
    margin-left: 19px;
   }
   
}
/* HEADER */
/* MAIN */

/* Index */
.indexsection{

    @extend .centratebientable;
    flex-direction: column;
    width: 100%;
    padding-top: 20px;
    background-color: lightgrey;

}

.h3mainindex h3{

    @extend .titulostable;

}

.slide{

    padding: 1vh 1vw 1vh 1vw;
    background-color: white;
    margin-top: 3px;
    margin-bottom: 45px;

    & img{
        height: 45vw;
    }

}

h5{
        
    color: black;
    background-color: rgb(255, 255, 255);

    &:hover{
        
        font-size: 3.8vw;
    }

}

.generosbootstrap{

    color: black;
    background-color: rgb(255, 255, 255);

    &:hover{
        
        font-size: 3.4vw;    
    }

}
/* Index */

/* Directorio Anime */
.selectionmaindirec{

    background-color: $colordos;
    padding-bottom: 3vw;

}

.h3divdirec{

    @extend .centratebientable;
    
    & .h3direc{

        @extend .titulostable;
        width: 95vw;
        margin: 20px;
        color: $coloruno;

    }

}

.ulselectionmaindirec{

    padding: 0%;
    display: grid;
    height: auto;
    grid-template-columns: 12vw 12vw 12vw 12vw 12vw 12vw 12vw;
    grid-template-rows: 23vw 23vw 23vw 23vw;
    justify-content: center;
    justify-content: space-evenly;
    
    & .liselectionmaindirec{
        padding: $padinganimes;
        height: 19vw;
        background-color: $coloruno;

        
        
        & figure:hover{  
            animation: pulse;
            animation-duration: 2s;
        }

        & img{

            width: 100%;
            height: 15vw;
        
        }

        & figcaption{
            font-size: $titulosdeanimes;
            @extend .centratebientextotable;
        }

    }

}
/* Directorio Anime */

/* En emision */
.emisionsection{

    @extend .centratebientable;
    flex-direction: column;
    width: 100%;
    padding-top: 20px;
    background-color: lightgrey;

}

.h3divemision h3{

    @extend .titulostable;
    width: 100%;
    margin-bottom: 20px;

}

.card-img{

    height: 40vw;

}

.sinopsisdiv{

    margin-top: 10px;
    margin-bottom: 10px;
    
}

.card-title{

    color: #000;
    background-color: rgb(255, 255, 255);
    max-width: fit-content;
    font-size: 2vw;

    &:hover{
        font-size: 3vw;
    }
    
}

.card-text{
    color: #000;
    background-color: rgb(255, 255, 255);
    max-width: fit-content;

    &:hover{
        font-size: 2rem;
    }

}

.iframedivemision{

    margin-bottom: 45px;

    & .iframeemision{
        height: 40vw;
        width: 100%;
    }

}
/* En emision */

/* Q y A */    
.h2qya{
    
    @extend .titulostable;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    
}

.textoyimagendivqya{

    @extend .centratebientable;

    & img{
        max-height: 30vw;
        max-width: 32vw;
    }
    & p{
        @extend .centratebientable;
        @extend .centratebientextotable;
        flex-direction: column;
        height: auto;
        width: 33vw;
        font-size: 2.5vw;
    }

}

.sugeescribirqya{

    @extend .centratebientable;
    flex-direction: column;

    & textarea{
        width: 63vw;
        height: 26vw;    
    }

}

.sugeinputqya{

    font-size: 23px;
    text-decoration: none;
    padding: 5px;
    margin-top: 3px;
    color: black;
    background-color: white;
    color: white transparent;
    border: 5px solid transparent;

    &:hover{
        color: rgb(255, 255, 255);
        background: #1f1f1f;
        animation-name: botones;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        background: #1f1f1f;
    }

}
/* Q Y A */

/* Registratre */
.mainregistrate{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vw;    

}

.formulario{

    @extend .centratebientable;
    height: 100%;
    width: 100%;

}

.formulariodiv{

    @extend .centratebientable;
    align-items: flex-start;
    flex-direction: column;
    height: auto;
    width: 40vw;
    padding: 3vw 2vw 1vw 2vw;
    background-color: black;
    border-radius: 4px;
    box-shadow: 7px 13px 37px #000;

}

.formulariodiv h3{

    color: white;
    margin-left: 0px;
    font-size: 3vw;
    margin-bottom: 0.5;

}

.control{

    display: flex;
    justify-content: center;
    font-size: 2.0vw;
    height: 0.5vw;
    padding: 0.5vw;
    margin-bottom: 1vw;
    width: 100%;

}

form{

    @extend .centratebientable;
    flex-direction: column;
    height: auto;
    margin: 1vw 2vw 1vw 2vw;
    max-width: 100vw;

    & p{
        @extend .centratebientable;
        @extend .centratebientextotable;
        flex-direction: column;
        color: white;
        font-size: 2.0vw;
        margin: 1vw;    }
    & a{
        color: white;
        font-size: 1.5vw;

        &:hover{
            color: white;
            text-decoration: underline;
        }
    
    }

}

.control{

    @extend .centratebientable;
    align-items: flex-start;
    padding: 2vw;
    margin-bottom: 2vw;
    width: 100%;

}

.boton{

    @extend .centratebientable;
    align-items: flex-start;
    padding: 1.3vw;
    margin-top: 1vw;
    margin-bottom: 2vw;
    width: 70%;
    font-size: 3vw;
    color: black;
    background-color: white;
    color: white transparent;
    border: 5px solid transparent;

    &:hover{
        color: rgb(255, 255, 255);
        background: #1f1f1f;
        border-color: white;
    }

}
/* Registratre */
/* MAIN */

/* Footer */
footer{

    @extend .centratebientable;
    flex-direction: column;
    height: 10vw;
    width: 100%;
    background-color: rgb(27, 26, 26);
    color: white;
    font-size: 20px;
    font-family: Formularrio de registro;
    padding-top: 5vw;
    padding-bottom: 4vw;

    & .divley{
        @extend .centratebientable;
        @extend .centratebientextotable;
        height: auto;
        width: 100%;
    }
    & .divcorreo{
        @extend .centratebientable;
        @extend .centratebientextotable;
        height: 100%;
        width: 100%;
    }    
    & a{

        color: white;
        text-decoration: none;
        font-family: Formularrio de registro;

        &:hover{
            color: white;
            text-decoration: underline;
        }
    
    }

}

}

/* Ordenador */
@media only screen and ( min-width: 992px){

/* Extend */
.titulos{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    text-align: center;
    -ms-transform-origin-x: 50%;
    -ms-transform-origin-y: 50%;
    background-color: $tiruloenmision;
    font-size: 3vw;

}

.centratebien{

    display: flex;
    justify-content: center;
    align-items: center;

}

.centratebientexto{

    text-align: center;
    -ms-transform-origin-x: 50%;
    -ms-transform-origin-y: 50%;  

}
/* Extend */

/* HEADER */
header{

    display: grid;
    height: auto;
    padding-bottom: 1px;
    width: 100%;
    background-color: $backgroundheader;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 5vw;
    grid-template-areas: "logo logo"
                         "nav nav";              
   
}

nav{

   display: flex;
   justify-content: center;
   align-items: flex-end;
   grid-area: nav;

}

.ilmenu{

   font-size: $botones;
   text-decoration: none;
   padding: 0.3vw;
   color: $colordos;
   border: 2.5px solid transparent;

   
   &:hover{

    border-color: #c7c7c7;
    color: white;
 
  }

}

.limenuinput input{

   border-radius: 20px;
   height: 2rem;
   width: 15vw;

}

.divlogo{

   display: flex;
   justify-content: center;
   align-items: center;
   grid-area: logo;

   
   &:hover{
    animation: pulse;
    animation-duration: 2s; 
   }

   
   & h1 a{
    font-family: AnimeJAV;
    color: $coloruno;
    font-size: $tituloheader;
   }

   
   & img{
    height: 8vw;
    margin-left: 19px;
   }
   
}
/* HEADER */


/* MAIN */
/* Index */
.indexsection{

    @extend .centratebien;
    flex-direction: column;
    width: 100%;
    padding-top: 20px;
    background-color: lightgrey;

}

.h3mainindex h3{

    @extend .titulos;

}

.slide{

    padding: 1vh 1vw 1vh 1vw;
    background-color: white;
    margin-top: 3px;
    margin-bottom: 45px;

    & img{
        height: 85vh;
    }

}

h5{
        
    color: black;
    background-color: rgb(255, 255, 255);

    &:hover{
        
        font-size: 2rem;
    }

}

.generosbootstrap{

    color: black;
    background-color: rgb(255, 255, 255);

    &:hover{
        
        font-size: 1.5rem;    
    }

}
/* Index */


/* Directorio Anime */
.selectionmaindirec{

    background-color: $colordos;
    padding-bottom: 3vw;

}

.h3divdirec{

    @extend .centratebien;
    
    & .h3direc{

        @extend .titulos;
        width: 95vw;
        margin: 20px;
        color: $coloruno;

    }

}

.ulselectionmaindirec{

    padding: 0%;
    display: grid;
    height: auto;
    grid-template-columns: 12vw 12vw 12vw 12vw 12vw 12vw 12vw;
    grid-template-rows: 23vw 23vw 23vw 23vw;
    justify-content: center;
    justify-content: space-evenly;
    
    & .liselectionmaindirec{
        padding: $padinganimes;
        height: 19vw;
        background-color: $coloruno;

        
        
        & figure:hover{  
            animation: pulse;
            animation-duration: 2s;
        }

        & img{

            width: 100%;
            height: 15vw;
        
        }

        & figcaption{
            font-size: $titulosdeanimes;
            @extend .centratebientexto;
        }

    }

}
/* Directorio Anime */


/* En emision */
.emisionsection{

    @extend .centratebien;
    flex-direction: column;
    width: 100%;
    padding-top: 20px;
    background-color: lightgrey;

}

.h3divemision h3{

    @extend .titulos;
    width: 100%;
    margin-bottom: 20px;
    background-color: $tiruloenmision;

}

.card-img{

    height: 40vw;

}

.sinopsisdiv{

    margin-top: 10px;
    margin-bottom: 10px;
    
}

.card-title{

    color: #000;
    background-color: rgb(255, 255, 255);
    max-width: fit-content;
    font-size: 2vw;

    &:hover{
        font-size: 3vw;
    }
    
}

.card-text{
    color: #000;
    background-color: rgb(255, 255, 255);
    max-width: fit-content;

    &:hover{
        font-size: 2rem;
    }

}

.iframedivemision{

    margin-bottom: 45px;

    & .iframeemision{
        height: 40vw;
        width: 100%;
    }

}
/* En emision */

/* Q y A */    
.h2qya{
    
    @extend .titulos;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    
}

.textoyimagendivqya{

    @extend .centratebien;

    & img{
        max-height: 30vw;
        max-width: 32vw;
    }
    & p{
        @extend .centratebien;
        @extend .centratebientexto;
        flex-direction: column;
        height: auto;
        width: 33vw;
        font-size: 2.5vw;
    }

}

.sugeescribirqya{

    @extend .centratebien;
    flex-direction: column;

    & textarea{
        width: 63vw;
        height: 26vw;    
    }

}

.sugeinputqya{

    font-size: 23px;
    text-decoration: none;
    padding: 5px;
    margin-top: 3px;
    color: black;
    background-color: white;
    color: white transparent;
    border: 5px solid transparent;

    &:hover{
        color: rgb(255, 255, 255);
        background: #1f1f1f;
        animation-name: botones;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        background: #1f1f1f;
    }

}
/* Q Y A */


/* Registratre */
.mainregistrate{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vw;    

}

.formulario{

    @extend .centratebien;
    height: 100%;
    width: 100%;

}

.formulariodiv{

    @extend .centratebien;
    align-items: flex-start;
    flex-direction: column;
    height: auto;
    width: 28vw;
    padding: 2vw 1.5vw 1vw 1.5vw;
    background-color: black;
    border-radius: 4px;
    box-shadow: 7px 13px 37px #000;

}

.formulariodiv h3{

    color: white;
    margin-left: 0px;
    font-size: 2vw;

}

.control{

    display: flex;
    justify-content: center;
    font-size: 1vw;
    height: 1vw;
    padding: 1vw;
    margin-bottom: 3vw;
    width: 100%;

}

form{

    @extend .centratebien;
    flex-direction: column;
    height: auto;
    margin: 0.5vw 1vw 0.5vw 1vw;
    max-width: 100vw;

    & p{
        @extend .centratebien;
        @extend .centratebientexto;
        flex-direction: column;
        color: white;
        font-size: 1vw;
        margin: 1vw;    }
    & a{
        color: white;
        font-size: 1vw;

        &:hover{
            color: white;
            text-decoration: underline;
        }
    
    }

}

.control{

    @extend .centratebien;
    align-items: flex-start;
    padding: 1vw;
    margin-bottom: 1vw;
    width: 100%;

}

.boton{

    @extend .centratebien;
    align-items: flex-start;
    padding: 1vw;
    margin-top: 1vw;
    margin-bottom: 2vw;
    width: 60%;
    font-size: 1.6vw;
    color: black;
    background-color: white;
    color: white transparent;
    border: 3px solid transparent;

    &:hover{
        color: rgb(255, 255, 255);
        background: #1f1f1f;
        border-color: white;
    }

}
/* Registratre */
/* MAIN */


/* Footer */
footer{

    @extend .centratebien;
    flex-direction: column;
    height: 10vw;
    width: 100%;
    background-color: rgb(27, 26, 26);
    color: white;
    font-size: 20px;
    font-family: Formularrio de registro;
    padding-top: 5vw;
    padding-bottom: 4vw;

    & .divley{
        @extend .centratebien;
        @extend .centratebientexto;
        height: auto;
        width: 100%;
    }
    & .divcorreo{
        @extend .centratebien;
        @extend .centratebientexto;
        height: 100%;
        width: 100%;
    }    
    & a{

        color: white;
        text-decoration: none;
        font-family: Formularrio de registro;

        &:hover{
            color: white;
            text-decoration: underline;
        }
    
    }

}
/* Footer */
}


